@include mediaMedium {
  .translator {
    margin: 2rem auto;

    > div {
      flex-direction: column;

      > div {
        margin: 1rem 0;

        textarea {
          padding: 10px;
        }

        textarea,
        select {
          width: 100%;
        }
      }
    }
  }
}
